# Environment files
.env

# Data directories
media/*
!media/.gitkeep

geo-data/*
!geo-data/.gitkeep
!geo-data/NOTICE

sentinel/*
!sentinel/.gitkeep

certs/*
!certs/.gitkeep

# Backup files
*.bak
*.backup

# Docker volumes
*.log
.idea/